.intro-shell {
  height: 705px;
  width: 855px;
  display: "flex";
  justify-content: "center";
  align-items: "center";
}

.intro {
  height: 100%;
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-rows: 85% 1fr;
  grid-template-columns: 20% 20% 20% 20% 20%;
  letter-spacing: 5px;
}

.intro-text-shell {
  color: white;
  background: #252a33 !important;
}
