.start-screen {
  color: rgb(189, 14, 14);
  height: 350px;
  width: 375px;
  display: grid;
  background: #252a33 !important;
  grid-template-rows: 35% 1fr 1fr;
  grid-template-columns: 20% 60% 20%;
  letter-spacing: 5px;
}
